<div class="plugin-preview-showcase">

    <table class="table">
    <f:for each="{pi_flexform_transformed.settings}" as="value" key="key" >
    <tr>
        <th><f:translate key="LLL:EXT:showcase/Resources/Private/Language/locallang.xlf:plugin.{key}" extensionName="showcase"/></th>
        <td>{value}</td>
    </tr>
    </f:for>
    </table>

    <f:if condition="{pi_flexform_transformed.settings.recordStorage} || {pi_flexform_transformed.settings.demo}">
        <div class="alert alert-info">
            <h4>Note</h4>
            The flexform XML structure of this plugin contains old values from former versions. We <strong>highly recommend</strong> to delete and create this plugin again to prevent possible errors in your website.
        </div>
    </f:if>

    <a href="#" class="btn btn-default" data-bs-toggle="modal" title="Extension Support" data-bs-target="#test">
        <core:icon identifier="content-info" size="small" />
    </a>

    <div class="modal" id="test">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold">Extension Support</h4>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Any problems with this extension? Or would you like some additional features?</p>
                    <p class="mb-2 fw-bold">Support for Users: <a href="https://kohlercode.com/contact" target="_blank" class="link-primary">Contact Me</a></p>
                    <p class="fw-bold">Support for Developers: <a href="https://github.com/fullstackfreelancer/showcase/issues" target="_blank" class="link-primary">GitHub Issue Tracker</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
